body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    

}

header{
    position:fixed;
    background-color:blue;
    margin-top: 0px;
    display: inline-block;
    width:100%;
    text-align:right;
    border-radius: 10px;
    color: #ffff;
    height: 200px;
    text-indent: 10px;
    
}    

h1{
    text-align: left;
    
    }
.personal{margin-top: 0%;}


 


.list{
    padding: 5px;
}

h1{
    padding: 10px;
}

.box1{
    text-align:center;
    background-color: cyan;
    border-radius: 10px;
}

.box2{
    text-align: center;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    color: #ffff;


}

footer{
    text-align: center;
    color: darkred;
}





/* @media screen and (max-width: 768px) {
    
    main,
    nav {
      flex-direction: column;
    } */

    /* Use flex-direction to stack the navbar, sidebar, and body */