body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    

}

header{
    position:fixed;
    background-color:darkslategrey;
    width:100%;
    border-radius: 10px;
    color: darkkhaki;
    height: fit-content;
    border: 2px solid black;
    text-align: center;
  
}    



.phone{
    float: left;
    margin-left: 250px;

}
.email{
    float: right;
    margin-right: 250px;

}

.personal{
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    

}

.links{
    background-color:tan;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    color:mintcream;
    height: fit-content;
    margin-top: 10px;
   

}
.rofh{ 
    display:flex;
    /* flex-wrap: wrap; */

}

a{
    color: mintcream;
    
}

#resume{
    margin-right: 200px;
    margin-left: 200px;

}

#output{
    margin-right: 200px;
    margin-left: 200px;
}

#family{
    margin-right: 200px;
    margin-left: 200px;
    

}

#hobbies{
    margin-right: 200px;
    margin-left: 200px;
    

}   


.group1{ 
    background-color: tan;
    color:mintcream;
    border: 2px solid black;
    border-radius: 10px;
    height: fit-content;
       
}

.group2{
    display: flex;
    margin-left: 200px;
    
}

.group3{
    display: flex;
    margin-left: 200px;

}



.resume{
    margin: 150px;
    border: 2px solid black;
    border-radius: 10px;
    
}


.samples{
    margin: 150px;
    border: 2px solid black;
    border-radius: 10px;

}

.family{
    margin: 150px;
    border: 2px solid black;
    border-radius: 10px;

}

.hobbies{
    margin: 150px;
    border:2px solid black;
    border-radius: 10px;

}

.contact{
    text-align: center;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 5px;
    color:darkkhaki;
    border: 2px solid black;
    

}

footer{
    text-align: center;
    color: darkred;
    border: 2px solid black;

}





/* @media screen and (max-width: 768px) {
    
    main,
    nav {
      flex-direction: column;
    } */

    /* Use flex-direction to stack the navbar, sidebar, and body */