body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    

}

.top{
    background-color:darkslategrey;
    width:100%;
    border-radius: 10px;
    color: darkkhaki;
    height: auto;
    border: 2px solid black;
    display:inline-block;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}   

.personal{
    border:2px solid black;
    border-radius: 10px;
    float:right;

}

.name{
    float:left;
    margin-left: 100px;
    font-size: 200%;

}



a{
    color: mintcream;
    margin: 60px;

    }

 
.links{
    height: auto;
    background-color:tan;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

} 


main{
    background-color: tan;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  

}



header{
    text-align: center;
    
}

#work{
     margin:20px

}

#about{
    border:5px solid black;
    border-radius:10px;
    margin:20px
}

#contact{   
    margin:20px 

}
.contact{
    text-align: center;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    margin-top: 2px;
    color: darkkhaki;

}
    



footer{
    text-align: center;
    color: darkred;
    border: 2px solid black;

}




/* According to my dev tools, tablet width is 768px */
 @media screen and (max-width: 768px) {
    
    main,header,.links{
      flex-direction: column;
    } 
 }